{#def sidebar=None, tabbar=None, attrs=None #}

{% macro app_shell(sidebar=None, tabbar=None, attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="ok-app"
  {%- if tabbar %} data-tabbar="{{ tabbar }}"{% endif %}
  {%- for k, v in _attrs.items() %} {{ k }}="{{ v }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if sidebar is defined %}
  {% call app_shell(sidebar=sidebar, tabbar=tabbar, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
