{#def width=None, attrs=None #}

{% macro autocomplete(width=None, attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="autocomplete"
  {% if width %}style="width:{{ width }};"{% endif %}
  {%- for k, v in _attrs.items() %} {{ k }}="{{ v }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if width is defined %}
  {% call autocomplete(width=width, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
