{#def variant="default", attrs=None #}

{% macro chart(variant="default", attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="{{ ok_prefix }}chart{% if variant != 'default' %} {{ ok_prefix }}chart--{{ variant }}{% endif %}"
  {%- for key, value in _attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if variant is defined %}
  {% call chart(variant=variant, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
