{#def attrs=None #}

{% macro chat(attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="ok-chat"
  {%- for key, value in _attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if attrs is defined %}
  {% call chat(attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
