{#def label=None, attrs=None #}

{% macro context_menu(label=None, attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="ctx-menu"
  {%- for k, v in _attrs.items() %} {{ k }}="{{ v }}"{% endfor %}>
  {% if label %}<div class="ctx-menu__label">{{ label }}</div>{% endif %}
  {{ caller() }}
</div>
{%- endmacro %}

{% if label is defined %}
  {% call context_menu(label=label, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
