{#def tag="article", attrs=None #}

{% macro hr_card(tag="article", attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<{{ tag }} class="emp"
  {%- for key, value in _attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {{ caller() }}
</{{ tag }}>
{%- endmacro %}

{% if tag is defined %}
  {% call hr_card(tag=tag, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
