{#def attrs=None #}

{% macro invoice(attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="{{ ok_prefix }}invoice"
  {%- for k, v in _attrs.items() %} {{ k }}="{{ v }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if attrs is defined %}
  {% call invoice(attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
