{#def attrs=None #}

{% macro kanban(attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="{{ ok_prefix }}kanban"
  {%- for key, value in _attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if attrs is defined %}
  {% call kanban(attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
