{#def variant="default", dense=false, attrs=None #}

{% macro list(variant="default", dense=false, attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="{{ ok_prefix }}list{% if variant != 'default' %} {{ variant }}{% endif %}{% if dense %} dense{% endif %}"
  {%- for key, value in _attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if variant is defined %}
  {% call list(variant=variant, dense=dense, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
