{#def attrs=None #}

{% macro mobile_shell(attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<div class="app" data-tabbar="bottom"
  {%- for k, v in _attrs.items() %} {{ k }}="{{ v }}"{% endfor %}>
  {{ caller() }}
</div>
{%- endmacro %}

{% if attrs is defined %}
  {% call mobile_shell(attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
