{#def tag="div", attrs=None #}

{% macro pay(tag="div", attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<{{ tag }} class="pay-methods"
  {%- for key, value in _attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {{ caller() }}
</{{ tag }}>
{%- endmacro %}

{% if tag is defined %}
  {% call pay(tag=tag, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
