{#def variant="default", attrs=None #}

{% macro tabbar(variant="default", attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<nav class="tabbar{% if variant != 'default' %} {{ variant }}{% endif %}"
  {%- for key, value in _attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {{ caller() }}
</nav>
{%- endmacro %}

{% if variant is defined %}
  {% call tabbar(variant=variant, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
