{#def page_title=None, back=false, with_crumb=false, attrs=None #}

{% macro topbar(page_title=None, back=false, with_crumb=false, attrs=None) -%}
{%- set _attrs = attrs|attr('as_dict')|default(attrs or {}) -%}
<header class="topbar{% if with_crumb %} with-crumb{% endif %}"
  {%- for k, v in _attrs.items() %} {{ k }}="{{ v }}"{% endfor %}>
  {% if back %}
  <div class="topbar-left">
    <button class="topbar-back-btn" aria-label="Volver" type="button">
      <iconify-icon icon="lucide:arrow-left" width="16" height="16"></iconify-icon>
    </button>
  </div>
  {% endif %}
  {% if page_title %}<h1 class="title">{{ page_title }}</h1>{% endif %}
  {{ caller() }}
</header>
{%- endmacro %}

{% if page_title is defined %}
  {% call topbar(page_title=page_title, back=back, with_crumb=with_crumb, attrs=attrs) %}{{ content }}{% endcall %}
{% endif %}
